In [1]:
#1. Write a code to reverse a string.
s = "Aadarsh"

In [2]:
reverse_s = s[::-1]

In [3]:
reverse_s

'hsradaA'

In [4]:
#2. Write a code to count the number of vowel in a string.

s = "Aadarsh"
count = 0
v = ("a","e","i","o","u","A","E","I","O","U")
for char in s:
    if char in v:
        count = count+1
print(count)

3

In [5]:
#3.Write a code to check if a given string is a palindrome or not.

if reverse_s == s:
    print("Palindrome")
else:
    print("Not Palindrome")

Not Palindrome

In [6]:
a = "madam"

In [7]:
reverse_a = a[::-1]
reverse_a

'madam'

In [8]:
if reverse_a == a:
    print ("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [10]:
#4. Write a code to check if two strings are anagrams of each other

word1 = "host"
word2 = "shot"

if (sorted(word1) == sorted(word2)):
    print ("Anagrams")
else:
    print("Not anagrams")

Anagrams

In [11]:
#5. Write a code to find all occurrences of a given substring within another string.

string = "Write a code to find all occurrences of a given substring within another string"
substring = "ri"

count = string.count(substring)
print ("Substring occurs %d times" %count)

Substring occurs 3 times

In [13]:
#6. write a code to perform basic string compression using the counts of repeated characters.

stri = "ABBCCCDDDDEEEEE"
character = stri[0]
result = " "
count = 0
stri = stri + " "
for x in stri:
    if x == character:
        count += 1
    else:
        result = result + str(count) + str(character)
        character = x
        count = 1
print (result)

 1A2B3C4D5E

In [14]:
#7. write a code to determine if a string has all unique character.

def check_unique(string):
    unique_characters = []
    for character in string:
        if character in unique_characters:
            return False
        else:
            unique_characters.append(character)
    return True
test = "abcd"
print(check_unique(test))

True

In [15]:
def check_unique(string):
    unique_characters = []
    for character in string:
        if character in unique_characters:
            return False
        else:
            unique_characters.append(character)
    return True
test = "Aadarsh"
print(check_unique(test))

False

In [16]:
#8. write a code to covert a given string to uppercase or lowercase.

string = "Aadarsh"
print(string.upper())
print(string.lower())

AADARSH
aadarsh

In [17]:
#9. write a code to count the number of words in a string.

s = "I am the best"
words = s.split()
count = len(words)
print("Total words:" , count)

Total words: 4

In [20]:
#10. write a code to concatenate two strinngs without using the + operator.

string1 = "Aadarsh"
string2 = " Pal"

def concatenate_strings(str1, str2):
    return ''.join([str1, str2])
result = concatenate_strings(string1,string2)
print(result)

Aadarsh Pal

In [21]:
#11. write a code to remove all occurrences of a specific element from a list.

a = ["Aadarsh",1,2,3,4,4,4,6,5,4,7,8,4,"Aadarsh"]
frequency = a.count(4)
for i in range(frequency):
    a.remove(4)
print(a)

['Aadarsh', 1, 2, 3, 6, 5, 7, 8, 'Aadarsh']

In [22]:
a = ["Aadarsh",1,2,3,4,4,4,6,5,4,7,8,4,"Aadarsh"]
frequency = a.count("Aadarsh")
for i in range(frequency):
    a.remove("Aadarsh")
print(a)

[1, 2, 3, 4, 4, 4, 6, 5, 4, 7, 8, 4]

In [23]:
#12. Implement a code to find the second largest number in a given list of integers

l = [1,4,5,600,39,67,899,1076,548980]
l.sort
print(l)
second_largest_number = l[-2]
print("second largest number:", second_largest_number)

[1, 4, 5, 600, 39, 67, 899, 1076, 548980]
second largest number: 1076

In [24]:
#13. Create a code to count the occurrence of each element in a list and return a dictionary with elements as keys and their counts as values. 


l = [1,2,4,2,1,5,6,7,8,1,2,3,2,1,6,9,5,5,5,4]
def counter(l):
    freq = {}
    for i in l:
        freq[i] = freq.get(i,0)+1
    return freq

print(counter([1,2,4,2,1,5,6,7,8,1,2,3,2,1,6,9,5,5,5,4]))

{1: 4, 2: 4, 4: 2, 5: 4, 6: 2, 7: 1, 8: 1, 3: 1, 9: 1}

In [25]:
#14. write a code to reversw a list in-place without using any built-in reverse functions.

lst = [10,20,30,40,50,60,70,80,90]
print(lst[::-1])

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [26]:
#15. implement a code to find and remove duplicates from a list while preserving the original elements.

a = ["Aadarsh",1,3,3,3,2,1,1,1,"Aadarsh"]
list(set(a))

[1, 2, 3, 'Aadarsh']

In [27]:
#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

l = [1,3,5,2,6,7,8,6,9]
print("Original list:",l)
l.sort()
print("Sorted in ascending order:",l)
l.sort(reverse = True)
print("Sorted in descending order:",l)

Original list: [1, 3, 5, 2, 6, 7, 8, 6, 9]
Sorted in ascending order: [1, 2, 3, 5, 6, 6, 7, 8, 9]
Sorted in descending order: [9, 8, 7, 6, 6, 5, 3, 2, 1]

In [28]:
#17. Write a code to merge two sorted list into a single sorted list.

a = ["Aadarsh","Hitesh","Ritesh","Gaurav","Karan"]
a.sort()
b = ["Pooja","Saujanya","Ladli"]
b.sort()
mg = a+b
mg.sort()
print("Merge list:",mg)

Merge list: ['Aadarsh', 'Gaurav', 'Hitesh', 'Karan', 'Ladli', 'Pooja', 'Ritesh', 'Saujanya']

In [29]:
#18. Implement a code to find the interaction of two given lists.

l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]
l3 = []

for i in l1:
    for j in l2:
        if i == j:
            l3.append(i)
print("COMMON ELEMENTS:",l3)

COMMON ELEMENTS: [4, 5]

In [30]:
#19. Create a code to find the union of two lists without duplicates.

l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]

A = set(l1 + l2)
print(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
#20 Write a code to shuffle a given list randomly without using any built-in shuffle functions.

import random
a = ["Aadarsh","Hitesh","Ritesh","Gaurav","Karan"]
print(random.sample(a,len(a)))

['Ritesh', 'Aadarsh', 'Gaurav', 'Hitesh', 'Karan']

In [32]:
#21 Write a code that taken two tuples as input and return a new tuple containing elements that are common to both input tuples.

def common_elements(tuple1, tuple2):
    set1 = set(tuple1)
    set2 = set(tuple2)
    common_set = set1 & set2
    return tuple(common_set)

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (3, 4, 5, 6, 7)
print(common_elements(tuple1, tuple2))

(3, 4, 5)

In [33]:
#22 Create a code that prompts the user to enter two sets of integers separated by commas. Then,print the intersection of these two sets.

def set_from_input(prompt):
    input_str = input(prompt)
    input_list = [int(item.strip()) for item in input_str.split(',')]
    return set(input_list)

def main():
    set1 = set_from_input("Enter the first set of integers separated by comma: ")
    set2 = set_from_input("Enter the second set of integers separated by commas: ")
    intersection_set = set1 & set2
    
    print("The intersection of the two sets is:", intersection_set)
main()

Enter the first set of integers separated by comma:  1,2,3,4,6,7,8
Enter the second set of integers separated by commas:  3,2,4,6,9

The intersection of the two sets is: {2, 3, 4, 6}

In [34]:
#23 Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

tup1 = (1,2,3,4)
tup2 = (5,6,7,8)
def conc_tup(tup1,tup2):
    return tup1+tup2

print(conc_tup(tup1,tup2))

(1, 2, 3, 4, 5, 6, 7, 8)

In [35]:
#24 Develop a code that prompts the user to input two sets of strings.Then ,print the elements that are present in the first set but not in the second set.

def set_from_input(prompt):
    input_str = input(prompt)
    input_list = [item.strip() for item in input_str.split(',')]
    return set(input_list)

def main():
    set1 = set_from_input("Enter the first set : ")
    set2 = set_from_input("Enter the second set : ")
    difference_set = set1 - set2
    
    print("The elements that are present in the first set but not in the second set are:", difference_set)
main()

Enter the first set :  1,2,3,4,5,6
Enter the second set :  2,3,4,5,8

The elements that are present in the first set but not in the second set are: {'6', '1'}

In [36]:
#25 Create a code that takes a tuple and two integers as input. The function should returnn a new tuple containing elements from the original tuple within the specified range of indice.

og_tup = (1,2,3,4,5,6,7,8)
start_index = 2
end_index = 6
def slice_tuple(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index]
print(slice_tuple(og_tup,start_index,end_index))

(3, 4, 5, 6)

In [37]:
#26 Write a code that prompts the user to input two sets of characters.Then,print the union of these two sets

def set_from_input(prompt):
    input_str = input(prompt)
    input_list = [int(item.strip()) for item in input_str.split(',')]
    return set(input_list)

def main():
    set1 = set_from_input("Enter the first set of integers separated by commas: ")
    set2 = set_from_input("Enter the second set of integers separated by commas: ")
    union_set = set1 | set2
    
    print("union of sets are:", union_set)
main()

Enter the first set of integers separated by commas:   1,2,3,4,5
Enter the second set of integers separated by commas:  6,7,8,9

union of sets are: {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
#27 Devlop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple unpacking

def find_max_min(input_tuple):
    max_value = max(input_tuple)
    min_value = min(input_tuple)
    return max_value, min_value


input_tuple = (1,2,3,4,5,100,55,67,89,34,1987)
max_val, min_val = find_max_min(input_tuple)
print(f"Maximum value: {max_val}, Minimum value: {min_val}")

Maximum value: 1987, Minimum value: 1

In [39]:
#28 Create a code that defines two sets of integers.Then,print the union,intersection and difference of these two sets.

set1 = {1,2,3,4,15,37}
set2 = {1,3,4,6,8,9,40}

print("Union of sets:",set1|set2)
print("Intersection of sets:",set1&set2)
print("Difference of sets:",set1-set2)

Union of sets: {1, 2, 3, 4, 37, 6, 8, 9, 40, 15}
Intersection of sets: {1, 3, 4}
Difference of sets: {2, 37, 15}

In [40]:
#29 Write a code that takes a tuple and an element as input.The function should return the count of occurrence of the given elements in the tuple

def count_occurrence(tup,ele):
    return tup.count(ele)

tup = (1,2,3,5,7,8,9,2,1,4,5,6,7,8,9,9,9,9,4,4,4,33,3,3,2,1,2,5,6,7,8)
ele = 9
occurrence = count_occurrence(tup,ele)
print(f"The element {ele} occurs {occurrence} times in tup")

The element 9 occurs 5 times in tup

In [41]:
#30 Develop a code that prompts the user to input two sets of strings.Then,print the symmetric difference of these two sets

def get_set_from_input(prompt):
    input_str = input(prompt)
    input_list = [item.strip() for item in input_str.split(',')]
    return set(input_list)

def main():
    set1 = get_set_from_input("Enter the first set of strings separated by commas: ")
    set2 = get_set_from_input("Enter the second set of strings separated by commas: ")
    symmetric_difference_set = set1 ^ set2
    print("The symmetric difference of the two sets is:", symmetric_difference_set)
main()

Enter the first set of strings separated by commas:  aadarsh,pooja,hitesh,raj,vishal
Enter the second set of strings separated by commas:  hitesh,raj,vishal

The symmetric difference of the two sets is: {'aadarsh', 'pooja'}

In [42]:
#31 Write a code that takes a list of words as input and merges them into a single dictionary. If there are comman keys,the values should be added together.

def merge_words_to_dict(word_list):
    word_dict = {}
    
    for word in word_list:
        if word in word_dict:
            word_dict[word] += 1
        else:
            word_dict[word] = 1
    
    return word_dict

# Example 
input_list = input("Enter a list of words separated by commas: ").split(',')
input_list = [word.strip() for word in input_list]
result_dict = merge_words_to_dict(input_list)
print("Merged dictionary:", result_dict)

Enter a list of words separated by commas:  Aadarsh,Hitesh,Aadarsh,Pooja,Pooja,Raj,Hitesh,Pooja

Merged dictionary: {'Aadarsh': 2, 'Hitesh': 2, 'Pooja': 3, 'Raj': 1}

In [44]:
#32 Write a code that takes two dictionaries as input and merges them into a single dictionary,If there are common keys , the value should be together.

def merge_dicts(dict1, dict2):
    merged_dict = {}
    for key, value in dict1.items():
        if key in merged_dict:
            merged_dict[key].append(value)
        else:
            merged_dict[key] = [value]
    
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key].append(value)
        else:
            merged_dict[key] = [value]
    
    return merged_dict

# Example
dict1 = eval(input("Enter the first dictionary (e.g., {'a': 1, 'b': 2}): "))
dict2 = eval(input("Enter the second dictionary (e.g., {'b': 3, 'c': 4}): "))

result_dict = merge_dicts(dict1, dict2)
print("Merged dictionary:", result_dict)

Enter the first dictionary (e.g., {'a': 1, 'b': 2}):  {'a': 1, 'b': 2}
Enter the second dictionary (e.g., {'b': 3, 'c': 4}):  {'b': 3, 'c': 4}

Merged dictionary: {'a': [1], 'b': [2, 3], 'c': [4]}

In [46]:
#33 Write a code to access a value in a nested dictionary.The fuunction should take the dictionary and a list of keys as input and return the corresponding value.
#If any of the keys do not exist in the dictionary , the fuunction should return None.

def get_nested_value(dictionary, keys):
    current_value = dictionary
    for key in keys:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value

# Example:-
nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}

keys = ['a', 'b', 'c']
result = get_nested_value(nested_dict, keys)
print(f"The value at the nested keys {keys} is: {result}")

keys = ['a', 'b', 'x']
result = get_nested_value(nested_dict, keys)
print(f"The value at the nested keys {keys} is: {result}")

The value at the nested keys ['a', 'b', 'c'] is: 42
The value at the nested keys ['a', 'b', 'x'] is: None